/* Default styles for larger screens */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 40px;
  background: linear-gradient(to right, #020202, #0000006e);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar_center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu_nav {
  display: flex;
  flex-direction: row;
}
.logo {
  height: 48px;
  width: 48px;
}

.website-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.highlight {
  color: #fa4223;
}

.nav-content {
  display: none;
  flex-direction: column;
  background-color: #000000;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  gap: 12px;
}
.logo_nav {
  display: flex;
  padding: 8px 0;
  flex-direction: row;
  align-items: center;
}
.borderline {
  width: 100%;
  position: relative;
  border-width: 1px;
  border-color: #e0e0e0;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 0;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #fa4223;
}

.close-button {
  /* border: 1px; */
  position: absolute;
  top: 32px;
  right: -61px;
  /* background: transparent; */
  /* border: none; */
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-width: 2px;
  padding: 5px 12px;
  border-radius: 99999px;
  /* height: 30px; */
  border-color: #fa4223;
  background-color: #fa4223;
}

.close-button:hover {
  background-color: #e0e0e0;
}

.calendly-button {
  display: flex;
  align-items: center;
  border: 2px solid #fa4223;
  border-radius: 40px;
  padding: 8px 16px;
  color: white;
  background-color: #fa4223;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.calendly-button:hover {
  background-color: #e0e0e0;
  color: black;
}
.calendly_button_nav {
  display: flex;
  align-items: center;
  border: 2px solid #fa4223;
  border-radius: 40px;
  padding: 8px 16px;
  color: white;
  background-color: #fa4223;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.calendly_button_nav:hover {
  background-color: #e0e0e0;
  color: black;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.icon-svg {
  width: 100%;
  height: 100%;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.bar {
  display: none;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .bar {
    display: block;
    height: 2px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 3px 0;
  }

  .nav-open .nav-content {
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  .menu_nav {
    display: none;
  }
  .calendly_button_nav {
    display: none;
  }
}
