@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Saira", sans-serif;
}
h1 {
  font-family: "Saira", sans-serif;
}
h2 {
  font-family: "Saira", sans-serif;
}
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
